
.message {
    width: 70%
}

.left-pane {
    height: auto;
    max-height: 100% !important;
    overflow-x: hidden !important;
}

.user-list {
  height: auto;
  max-height: 195px !important;
  overflow-x: hidden !important;
  overflow-y: auto;
}

.convo-list {
  height: auto;
  max-height: 196px !important;
  overflow-x: hidden !important;
  overflow-y: auto;
}

.no-focus:focus {
  border-color: #ced4da !important;
  box-shadow: none;
  outline: none;
}

.mb-60px {
  margin-bottom: 60px;
}

.instructions {
  height: 100%;
  width: 100%;
  margin: auto;
  background-position: center center;
  background-size:100% 100%;
}

.instructions-text {
 color: #032442!important;
}

.bg {
  background-color: #b2dfdb;
}
.card.w-75.mb-2.chat-message.float-right.border-primary {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
}
.card-body {
    display: inline-block;
    width: 100%;
    border: none !important;
}
