.chat {
  overflow-x: hidden !important;
  overflow-y: auto;
  height: 60vh !important;
}

:host ::ng-deep app-chat-message:first-child .chat-message {
  /* margin-top: 1em; */
}

.bg {
  background-color: #b2dfdb;
}

.bg[_ngcontent-c0] {
  background-color: #b2dfdb !important;
}