.user-list {
  height: auto;
  max-height: 30vh !important;
  overflow-x: hidden !important;
  overflow-y: auto;
}

.bg {
  background-color: #b2dfdb;
}

.list-group-item:hover {
  color: white;
  background-color: #f5f5f5   !important; 
}
.bg[_ngcontent-c0] {
  background-color: #b2dfdb !important;
}
